# Core data processing
pandas
numpy

# MQTT client
paho-mqtt

# API server
fastapi
uvicorn[standard]

# Plotting (for EDA, not mandatory for core app)
matplotlib

# Useful utilities
python-dotenv
joblib
tree

# testing 
pytest
pytest-cov